body {
  margin: 0;
  width:80%;
  margin:auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f3f3f3;
}

header{

  background-color: #003249;

}
.navTop{

  display:flex;
  width:80%;
  margin:auto;
  justify-content: space-between;
  align-items:center;
  background-color: #003249;
  padding:1.5%;
  color:white;
  
  }
.navElements{

  width:25%;
  margin-left:65%;
  display:flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height:10vh;

}
.navElements a {
   color:black;
   background-color:white;
   text-decoration: none;
   font-weight:600;
   margin-top:6%;
   height:45%;

}
.navElements a:hover{

  border-bottom: 3px solid #003249;
}
.navWrapper{

  background-color: white;
  border-bottom: 1px solid rgb(180, 180, 180);

}

/* homepage styling*/

.homepageBody{
 
  width:80%;
  margin:auto;
}
.title{
  
  margin-top:5%;
  font-size: 1.5rem;
  

}
.compareANDIdentify{
  width:40%;
  display:flex;
  margin-top:4%;
  justify-content: space-between;

}

button{

  font-family: 'Montserrat', sans-serif;
  color:white;
  border-style:none;
  font-size:1rem;
  background-color: #E94A64;
  border-color:#E94A64;
  padding:1% 3%;;
  border-radius:5px;
  
}
.toolContainer{

  margin-top: 5%;
  background-color: #fdfdfd;
}
.toolContainer h2{

  text-align: center;
  padding: 5%;

}
.signaturePad{

  background-color: yellow;
  width:50%;
  padding:2%;
}
.signatureContainer{

  background-color:pink;
  align-items: center;

}
img [alt="signature"]{

  margin:auto;
  background-color: green;
}