body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#F0F0F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{

  background-color: #003249;

}
.navTop{

  display:flex;
  width:80%;
  margin:auto;
  justify-content: space-between;
  align-items:center;
  background-color: #003249;
  padding:1.5%;
  color:white;
  
  }
.navElements{

  width:25%;
  margin-left:65%;
  display:flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height:10vh;

}
.navElements a {
   color:black;
   background-color:white;
   text-decoration: none;
   margin-top:6%;
   height:45%;

}
.navElements a:hover{

  border-bottom: 3px solid black;
}
.navWrapper{

  background-color: white;

}